.data-join-graphic {
  font-size: 1.6vh;

  ul {
    list-style: none;
  }

  .swatch {
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin: 0 4px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .2);
  }

}

.data-join-example {
}
