.sine-wave {

  .axis path {
    display: block;
  }

  .horizon {
    fill: none;
    stroke: #dcdcdc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  circle {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 1px;
  }

  .rotator {
    fill: #707070;
    stroke: none;
  }

  .zero {
    fill: none;
    stroke: #707070;
    stroke-width: 1px;
  }

  path.line {
    stroke: #383838 !important;
    stroke-width: 2px !important;
  }

  line.connector {
    stroke: #dcdcdc;
    stroke-width: 1px;
  }

  .triangle > line {
    stroke-width: 1px;
    stroke: #383838;
  }

  .triangle__height {
    stroke-width: 2px !important;
  }
}
