.sine-wave {

  .axis path {
    display: block;
  }

  .horizon {
    fill: none;
    stroke: #dcdcdc;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  circle {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 2px;
  }

  .zero, .rotator {
    fill: #707070;
    stroke: none;
  }

  path.line {
    stroke: rgb(82, 84, 163) !important;
    stroke-width: 2px !important;
  }

  line.connector {
    stroke: #dcdcdc;
    stroke-width: 1px;
  }

  .triangle__height {
    stroke: rgb(82, 84, 163);
  }

  .triangle > line {
    stroke-width: 1px;
    stroke: rgb(181, 207, 107);
  }
}
