@import 'normalize';
@import 'skeleton';
@import 'pie-chart';
@import 'data-join';

html,body {
  height: 100%;
  // font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #6b6ecf;
  &:hover, &.active {
    color: rgb(57, 59, 121);
  }
}

button {
  border-radius: 1px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}


.title {
  margin: 0 0 9px 0;
}

.container {
  width: 90%;
}

.svg-container {
  margin-left: 2%;
}


.side-menu {
  ul {
    list-style: none;
  }

  li {
    margin-bottom: 0.5rem;
    .active {

    }
  }

}

#ember-sparkles {
  height: 100%;
}

.graphics {
  height: 100%;
}

#svg-container {
  height: 50%;
}

.axis text, .label {
  font: 10px sans-serif;
}

.label {
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.tick line{
  opacity: 0.2;
}
