<h4>Bar Chart Example</h4>

{{#ember-sparkles 400 200 as |chart|}}

  {{#with (ember-sparkles/parse-data data) as |parsedData|}}

    {{chart.bar-chart
      data=parsedData
      xScale=(band-scale
        (map-by '0' parsedData)
        (append 0 chart.width)
        round=true
        padding=padding
      )
      yScale=(linear-scale
        (append 0 (d3-array 'max' parsedData (d3-get '1')))
        (append chart.height 0)
      )
      width=chart.width
      height=chart.height
    }}
  {{/with}}

{{/ember-sparkles}}
