{{#ember-sparkles 800 400 margin
  as |chart|}}

  {{chart.bar-chart
    data=data
    inputAccessor=(d3-get 'ts')
    outputAccessor=(d3-get 'value')
    ticks=5
    tick-format='%Y-%m-%d'
    y-label='value'

    xScale=(band-scale
      (ember-sparkles/map data (d3-get 'ts'))
      (append 0 chart.width)
      round=true
      padding=0.02
    )

    yScale=(linear-scale
      (append 0 outputMax)
      (append chart.height 0)
      nice=true
    )

    transition=(or transition (ember-sparkles/transition duration=800 data=data))
  }}

{{/ember-sparkles}}


<button {{action 'toggleData'}}>Toggle Data</button>
