{{#ember-sparkles 800 400 margin 
  sparkled=(data-sparkler 
    data=barData
    inputKey='ts'
    outputKey='Wh_sum'
    groupKey='name'
    valueKey='value'
  ) 
  padding=0.2
  as |chart|}}

  {{chart.grouped-bar-chart
    ticks=5
    tick-format='%Y-%m-%d'
    
    padding=0.2
    groupPadding=0.05
  }}
{{/ember-sparkles}}

<button {{action 'toggleData'}}>toggle data</button>
