{{#with (area 960 500 top=10 right=25 bottom=30 left=40) as |plotArea|}}

  {{#ember-sparkles
    area=plotArea
    data=barData

    inputKey='ts'
    outputKey='W'
    groupKey='name'
    valueKey='value'

    x-scale=(band-scale
      (map (r/get 'ts') barData)
      (append 0 plotArea.width)
      round=true
      padding=0.2
    )

    y-scale=(linear-scale
      (append 0 outputMax)
      (append plotArea.height 0)
    )

    groupDomain=groupDomain
    groupPadding=0.05
    transition-duration=transitionDuration
  as |chart|}}

    {{chart.x-axis
      tick-format='%Y-%m-%d'
      label='Date (Y-M-D)'
      dy=(add plotArea.height 30)
    }}

    {{chart.y-axis
      label='Watts'
      ticks=5
      yGrid=true
      dy=-30
      dx=(mult -0.5 plotArea.height)
    }}

    {{chart.grouped-bar-chart}}

  {{/ember-sparkles}}

{{/with}}

<button {{action (throttle (action "toggleData") (add transitionDuration 20))}}>Toggle Data</button>
