{{#ember-sparkles 800 400 margin as |chart|}}
  {{chart.grouped-bar-chart
    data=data
    
    input-key='ts'
    output-key='Wh_sum'
    group-key='name'
    value-key='value'

    ticks=5
    tick-format='%Y-%m-%d'
    
    padding=0.2
    groupPadding=0.05
  }}
{{/ember-sparkles}}

<button {{action 'toggleData'}}>toggle data</button>
