{{#ember-sparkles 800 400 margin as |chart|}}
  {{chart.grouped-bar-chart
    data=data

    x-scale=(band-scale
      (map-by 'ts' data)
      (append 0 chart.width)
      round=true
      padding=padding
    )
    y-scale=(linear-scale
      (append 0 yMax)
      (append chart.height 0)
      nice=true
    )

    ticks=5
    tick-format='%Y-%m-%d'
  }}
{{/ember-sparkles}}

<button {{action 'toggleData'}}>toggle data</button>
