{{#ember-sparkles
  data=timeseriesData

  x-scale-type='time'
  x-domain=x-domain
  y-scale-type='linear'
  y-domain=y-domain

  as |chart|}}

  {{chart.line-chart
    ticks=5
    tick-format='%Y-%m-%d'
  }}

{{/ember-sparkles}}

<button {{action (throttle (action "toggleData") 500)}}>Toggle Data</button>
