{{#ember-sparkles as |chart|}}
  {{chart.pie-chart
    data=pieData
    domain=(map-by 'value' pieData)
    with-labels-in-arc=true
  }}
{{/ember-sparkles}}


<button {{action 'toggleData'}}>Toggle Data</button>
