{{#ember-sparkles as |chart|}}
  {{chart.pie-chart
    data=(pie-sparkler pieData dataKey='value' threshold=5 precision=1)
    domain=(map-by 'key' pieData)
    with-labels-in-arc=true
  }}
{{/ember-sparkles}}


<button {{action 'toggleData'}}>Toggle Data</button>
