{{#ember-sparkles
  data=(pie-sparkler pieData dataKey='value' threshold=5 precision=1)
  domain=(map-by 'key' pieData)
  transition-duration=700
  as |chart|}}

  {{chart.pie-chart}}

  {{chart.legend
    shape='circle'
  }}
{{/ember-sparkles}}

<button {{action (throttle (action "toggleData") 500)}}>Toggle Data</button>
