{{#ember-sparkles as |chart|}}
  {{chart.pie-chart
    data=(pie-sparkler pieData dataKey="value" threshold=5 precision=1)
    domain=(map-by "key" pieData)
    with-arc-labels=true
    transition=(ember-sparkles/transition duration=1000 data=pieData)
  }}
{{/ember-sparkles}}

<button {{action (throttle (action "toggleData") 500)}}>Toggle Data</button>
