{{#ember-sparkles as |chart|}}
  {{chart.pie-chart
    data=pieData
    domain=(map-by 'key' pieData)
    with-labels-in-arc=false
  }}
{{/ember-sparkles}}


<button {{action 'toggleData'}}>Toggle Data</button>
